In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import seaborn as sns

In [3]:
from pandas import Series, DataFrame

In [4]:
sns.set_style('whitegrid')

In [5]:
from pandas_datareader import DataReader

In [6]:
from datetime import datetime

In [7]:
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']

In [8]:
end = datetime.now()
start = datetime(end.year-1, end.month, end.day)

In [10]:
for stock in tech_list:
    globals()[stock] = DataReader(stock, 'yahoo', start, end)

In [12]:
AAPL.describe()

,High,Low,Open,Close,Volume,Adj Close
count,250.000000,250.000000,250.000000,250.000000,2.500000e+02,250.000000
mean,194.140440,190.083600,192.092360,192.116880,3.258498e+07,190.507695
std,21.207069,20.938713,21.062178,21.009097,1.394851e+07,20.814951
min,145.720001,142.000000,143.979996,142.190002,1.136200e+07,140.505798
25%,175.902496,173.362499,174.737499,174.757500,2.289640e+07,173.279305
50%,198.750000,193.805000,196.364998,196.345001,2.942395e+07,195.165611
75%,209.089996,205.104996,207.449997,207.479996,3.897412e+07,206.476418
max,233.470001,229.779999,230.779999,232.070007,9.624670e+07,228.523819