In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [4]:
train = pd.read_csv("obent/train.csv")
test = pd.read_csv("obent/test.csv")
sample = pd.read_csv("obent/sample.csv", header=None)

In [3]:
from sklearn import linear_model

In [5]:
train["week"].value_counts()

木    43
水    43
火    41
金    41
月    39
Name: week, dtype: int64

In [6]:
pd.get_dummies(train["week"])

     月  木  水  火  金
0    1  0  0  0  0
1    0  0  0  1  0
2    0  0  1  0  0
3    0  1  0  0  0
4    0  0  0  0  1
5    1  0  0  0  0
6    0  0  0  1  0
7    0  0  1  0  0
8    0  1  0  0  0
9    0  0  0  0  1
10   1  0  0  0  0
11   0  0  0  1  0
12   0  0  1  0  0
13   0  1  0  0  0
14   0  0  0  0  1
15   1  0  0  0  0
16   0  0  0  1  0
17   0  0  1  0  0
18   0  1  0  0  0
19   0  0  0  0  1
20   1  0  0  0  0
21   0  0  0  1  0
22   0  0  1  0  0
23   0  1  0  0  0
24   0  0  0  0  1
25   0  0  0  1  0
26   0  0  1  0  0
27   0  1  0  0  0
28   0  0  0  1  0
29   0  0  1  0  0
..  .. .. .. .. ..
177  1  0  0  0  0
178  0  0  0  1  0
179  0  0  1  0  0
180  0  1  0  0  0
181  0  0  0  0  1
182  1  0  0  0  0
183  0  0  0  1  0
184  0  0  1  0  0
185  0  1  0  0  0
186  0  0  0  0  1
187  1  0  0  0  0
188  0  0  0  1  0
189  0  0  1  0  0
190  0  1  0  0  0
191  0  0  0  0  1
192  1  0  0  0  0
193  0  0  0  1  0
194  0  0  1  0  0
195  0  1  0  0  0
196  0  0  0  0  1
197  0  0  0  1  0
198  0  0  1  0  0
199  0  1  0  0  0
200  0  0  0  0  1
201  1  0  0  0  0
202  0  0  1  0  0
203  0  1  0  0  0
204  0  0  0  0  1
205  1  0  0  0  0
206  0  0  0  1  0

[207 rows x 5 columns]

In [9]:
trainX = pd.get_dummies(train[["week", "temperature"]])

In [10]:
trainX.head()

   temperature  week_月  week_木  week_水  week_火  week_金
0         19.8       1       0       0       0       0
1         17.0       0       0       0       1       0
2         15.5       0       0       1       0       0
3         15.2       0       1       0       0       0
4         16.1       0       0       0       0       1

In [11]:
y = train['y']

In [13]:
from sklearn.linear_model import LinearRegression as LR

In [14]:
model = LR()

In [15]:
model.fit(trainX, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
model.coef_

array([-2.53878074,  8.26339936, -9.47240196, -2.02873774,  1.85251984,
        1.38522051])

In [17]:
model.intercept_

135.69119841401604

In [18]:
testX = pd.get_dummies(test[['week', 'temperature']])

In [19]:
testX.head()

   temperature  week_月  week_木  week_水  week_火  week_金
0         20.2       0       0       1       0       0
1         23.9       0       1       0       0       0
2         28.7       0       0       0       0       1
3         21.5       1       0       0       0       0
4         22.1       0       0       0       1       0

In [20]:
pred = model.predict(testX)

In [21]:
pred

array([ 82.37908978,  65.54193684,  64.21341177,  89.37081192,
        81.43666396,  74.5088695 ,  69.09622987,  70.81424168,
        69.5043945 ,  94.05748117,  78.99747474,  78.68446197,
        83.27773815,  86.26034736,  94.31135925,  88.89871962,
        89.60121914,  86.32427504,  89.05300617,  83.90235823,
        76.45869401,  89.34734106,  89.56076232,  93.04196888,
        77.4742063 ,  86.0469261 ,  90.13244614, 100.22364142,
        97.10401806,  76.71257208,  96.96368327, 107.65003323,
        96.66934838,  95.83462769,  99.56159871,  99.24858594,
       108.60161785, 110.30567789,  87.88320732,  98.23307364])