# SVR

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [45]:
dataset = pd.read_csv("../data/Position_Salaries.csv")

In [46]:
dataset.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [47]:
X = dataset.iloc[:, 1:2].values
y = dataset.iloc[:, 2].values

In [48]:
from sklearn.preprocessing import StandardScaler

In [52]:
y

array([  45000,   50000,   60000,   80000,  110000,  150000,  200000,
        300000,  500000, 1000000])

In [49]:
sc_X = StandardScaler()
sc_y = StandardScaler()

In [53]:
X = sc_X.fit_transform(X)

In [57]:
y=y.reshape(-1,1)

In [58]:
y = sc_y.fit_transform(y)

In [ ]:
from sklearn.svm import SVR

In [ ]:
regressor = SVR(kernel='rbf')

In [ ]:
regressor.fit(X, y)

In [ ]:
y_pred = regressor.predict([[6.5]])

In [ ]:
y_pred

In [ ]:
plt.scatter(X, y, color="red")
plt.plot(X, regressor.predict(X), color="blue")
plt.title("Salary vs Experience")
plt.xlabel("Years of Experience")
plt.ylabel("Salary")
plt.show()